.container {
  width: 100%;
}

.mainDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.quoteWidget {
    width: 49%;
}

/* LOADING BOX */
.loadingBox,
.errorBox {
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 6px;
  text-align: center;
  background: #f8f8f8;
  color: #555;
}

/* Spinner */
.spinner {
  width: 24px;
  height: 24px;
  border: 3px solid #ccc;
  border-top-color: #006AFF;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin: 0 auto 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
